* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cfb2a5;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  height: 100px;
  background-color: #ffffff;
  width: 100%;
}

.line {
  background-color: #9a7767;
  height: 5px;
  width: 100%;
  margin-top: -0.2%;
}

.img {
  height: 95px;
  width: 14%;
}

main {
  background-color: #9a7767;
  height: 300px;
  width: 60%;
  margin-top: 10%;
  margin-left: 19%;
  border-radius: 15px;
  opacity: 88%;
}

.meio {
  background-color: #9a7767;
  height: 400px;
  width: 60%;
  margin-top: 10%;
  margin-left: 19%;
  border-radius: 15px;
  opacity: 88%;
}

.meiodeslog {
  background-color: #9a7767;
  height: 110px;
  width: 60%;
  margin-top: 10%;
  margin-left: 19%;
  border-radius: 15px;
  opacity: 88%;
}

.primeiro {
  text-align: center;
  color: white;
}

.titulo {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 25%;
}

.caixa {
  height: 30px;
  width: 50%;
  font-size: 15px;
  border-radius: 10px;
  background-color: #cfb2a5;
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
  border-width: 0.5px;
}

.botao {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 17px;
  color: #ffffff;
  font-weight: bold;
  background-color: #7e5644;
  padding: 10px 40px;
  border-color: rgba(86, 54, 40, 1);
  transition-duration: 0.4s;
  border-width: 1px;
  font-size: 20px;
}

.wrapper4 {
  display: grid;
  grid-template-columns: repeat(3, 7fr);
  margin-top: 5%;
}

.p1,
.p2,
.p3 {
  font-size: 20px;
  color: white;
  margin-left: 22%;
}
